<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <userSettings>
        <VS2017OfflineSetupUtility.Properties.Settings>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value />
            </setting>
        </VS2017OfflineSetupUtility.Properties.Settings>
    </userSettings>
</configuration>